svg {
  display: block;
  margin: 2rem auto;
  width: 75%;
  //decrease the size of the svg for devices larger than a tablet
  @media screen and (min-width: 768px) {
    margin-top: 2rem;
    width: 50%;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 3rem;
  }
}

//svg classes
.cls-1 {
  fill: #d8568b;
}
.cls-2 {
  fill: #d9d9fe;
}
.cls-3,
.cls-4 {
  fill: none;
  stroke: #494982;
  stroke-linecap: round;
  stroke-width: 2px;
}
.cls-3 {
  stroke-linejoin: round;
}
.cls-4 {
  stroke-miterlimit: 10;
}
.cls-5 {
  fill: #494982;
}

//svg elements
#floatingIsland {
  animation: hideshow 4s ease-in;
}

#Turbine {
  animation: rotate 8s linear infinite 2s;
  transform-origin: 145px 92.5px;
}

.cloud {
  stroke-linejoin: round;
  //loop through each cloud
  @for $i from 1 through 8 {
    &-#{$i} {
      //scss random function to the duration and the delay
      animation: moveRight #{(random(7)/2)+ 8}s linear infinite #{random(7)/2}s;
    }
  }
}

.water {
  path {
    stroke-linejoin: round;
  }
  .drop {
    stroke-linejoin: round;
    //loop through each drop
    @for $i from 1 through 8 {
      &-#{$i} {
        //scss random function to the duration of the animation and the delay
        animation: fall #{(random(5)/2) + 1}s linear infinite #{random(5)/10}s;
      }
    }
  }
}

@keyframes hideshow {
  from {
    opacity: 0;
    transform: translatey(-15em);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
//animations

//cloud animation
@keyframes moveRight {
  0%,
  10% {
    transform: translateX(0);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translateX(10em);
    opacity: 0;
  }
}
//turbine animation
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

//waterfall animation

@keyframes fall {
  0%,
  10% {
    transform: translateY(0);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translateY(11em);
    opacity: 0;
  }
}
