.container
  .row
    .col-sm-4
        .box
            .pic
                a(href='#')
                    img(src='https://unsplash.it/400/300')
            .info
                .shadow-box
                .con
                    .data Mar
                        span 31
                        |,2017
                    a.ti(href='#')
                        h5 Formula Guide
                    p.text-two The best-selling guide in the world for design inspiration, color specification, and printing accuracy, Formula Guide illustrates 1,867 Pantone spot colors with their corresponding ink formulations. Use this guide for logos and branding, marketing materials, packaging, and when spot color printing is required.
                    .share
                        ul.list-inline
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-facebook
    .col-sm-4
        .box
            .pic
               a(href='#')
                  img(src='https://unsplash.it/400/300')
            .info
                .shadow-box
                .con
                    .data Mar
                        span 31
                        |,2017
                    a.ti(href='newcontent.html')
                        h5 Formula Guide
                    p.text-two The best-selling guide in the world for design inspiration, color specification, and printing accuracy, Formula Guide illustrates 1,867 Pantone spot colors with their corresponding ink formulations. Use this guide for logos and branding, marketing materials, packaging, and when spot color printing is required.
                    .share
                        ul.list-inline
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-facebook
    .col-sm-4
        .box
            .pic
               a(href='#')
                img(src='https://unsplash.it/400/300')
            .info
                .shadow-box
                .con
                    .data Mar
                        span 31
                        |,2017
                    a.ti(href='newcontent.html')
                        h5.text-one Formula Guide
                    p.text-two The best-selling guide in the world for design inspiration, color specification, and printing accuracy, Formula Guide illustrates 1,867 Pantone spot colors with their corresponding ink formulations. Use this guide for logos and branding, marketing materials, packaging, and when spot color printing is required.
                    .share
                        ul.list-inline
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-facebook