<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/customPrism.css">
 
  
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

</head>

<body id="program">
  <h2>頁面模板(Blade)</h2>
  <h3>csrf</h3>
  <pre class="prettyprint">
    <xmp>
      //1.
      @csrf

      //2.
      <input type="hidden" name="_token" value="{{ csrf_token() }}" />

      //3.
      {!! csrf_field() !!}

      //4.
      <meta name="csrf-token" content="{{ csrf_token() }}">
    </xmp>
  </pre>
  <hr>
  <h3>印出變數{{}}</h3>
  <pre class="prettyprint">
    <xmp>
      //1.
      {{isset($variable) ? $variable : "Default Value"}}

      //
      {{$variable ?? 'Default'}}

      //2.
      @isset ($variable)
      {{$variable}}
      @else
      Default
      @endisset
    </xmp>
  </pre>
  <hr>
  <h3>空值 empty</h3>
  <pre class="prettyprint">
    <xmp>
      @empty($variable)
      Default
      @else
      {{$variable}}
      @endempty
    </xmp>
  </pre>
  <hr>
  <h3>迴圈</h3>
  <pre class="prettyprint">
    <xmp>
      @for ($i = 0; $i
      < 10; $i++) The current value is {{ $i }} @endfor @foreach ($item as $list) {{$item}} <br />
      @endforeach

      //index
      @foreach ($teams as $team)
      {{ $loop->index }}
      @endforeach


      @forelse ($item as $list)
      <li>{{ $item }}</li>
      @empty
      <p>No item</p>
      @endforelse


      @while (true)
      <p>I'm looping forever.</p>
      @endwhile


      @foreach ($users as $user)
      @continue($user->type == 1)
      <li>{{ $user->name }}</li>
      @break($user->number == 5)
      @endforeach
    </xmp>
  </pre>
  <hr>
  <h3>判斷式</h3>
  <pre class="prettyprint">
    <xmp>
      //if
      @if (judge1?)
      // Something when true
      @elseif (judge2?)
      // Something when judge2 is true
      @else
      // Other condition
      @endif
    </xmp>
  </pre>
  <hr>
  <h3>不轉譯輸出</h3>
  <pre class="prettyprint">
    <xmp>
      {!! $variable !!}
    </xmp>
  </pre>
  <hr>
  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10221606" target="_blank">路由&頁面模板</a>
    </li>
  </ul>
  <hr>
  <h2>頁面模板</h2>
  <p>@extends 繼承</p>
  <p>@yield和@section/@show都是允許子頁面替換填入的內容。</p>
  <pre class="prettyprint">
    <xmp>
      //繼承base模板
      @extends("base") 
      //title位置
      @section('title', ABC)
      //body位置
      @section('body')
          123
      @endsection


      //base模板
      <body>
        @yield('titile', '預設文字')
        @section('body')'預設文字'@endsection
      </body>
    </xmp>
  </pre>
  <hr>
  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10222554" target="_blank">頁面模板</a>
    </li>
  </ul>
  <hr>
  <h2>身份验证</h2>
  <p></p>
  <pre class="prettyprint">
    <xmp>
      //典型方式：
      @if(auth()->user())
        // 用户已通过身份验证。
      @endif

      //auth 写法
      @auth
        // 用户已通过身份验证。
      @endauth

      //@guest 指令：
      @guest
        // 用户未通过身份验证。
      @endguest
    </xmp>
  </pre>
  <h2>include</h2>
  <p></p>
  <pre class="prettyprint">
    <xmp>
      // 使用 include，旧方法
      @include("components.post", ["title" => $post->title])
    </xmp>
  </pre>
  <hr>
  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://www.ziruchu.com/lessons/laravel-view" target="_blank">视图</a>
    </li>
  </ul>
</body>

</html>