.div
.div
.div
  .item.scrollAnimation
    h1 titletitletitle
  .item.scrollAnimation.scrollAnimation_delay1
    h1 titletitletitle
  .item.scrollAnimation.scrollAnimation_delay2
    h1 titletitletitle    
.div    
.div
  .item.scrollAnimation  
    h1 titletitletitle
  