.header#slideshow
  ul.list-inline
      li.mySlides
          img(src='https://unsplash.it/1200/600')
      li.mySlides
          img(src='https://unsplash.it/1200/600')
      li.mySlides
          img(src='https://unsplash.it/1200/600')