.container { 
  padding: 8% 0 10%; 
  margin-right: auto; 
  margin-left: auto; 
  width: 90%;}
@media (max-width: 480px) {

}
@media (min-width: 480px) and (max-width: 1599px) {
    .container { 
      padding: 8% 0 10%; 
      width: 90%;
  }
}
@media (min-width: 1600px) {
    .container {
        padding: 120px 0 160px;
        width: 1500px;
    }
}