<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/prism.css">
  <script src="../js/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body id="program">
  <h2>Vue封裝實作 鄉鎮市區下拉選單</h2>
  <pre class="prettyprint">
    <xmp>
      <span>所在區域 : </span>
      <select v-model="cityIdx">
          <option :key="idx" v-for="(item,idx) in cities" :value="idx">{{item.name}}</option>
      </select>
      <select v-model="areaIdx">
          <option :key="idx" v-for="(item,idx) in areas" :value="idx">{{item.name}}</option>
      </select>
      <input type="text" v-model="zip"> 
      <br>
      <h2>選到第 {{cityIdx}} 個城市</h2>
      <h2>{{cityIdx}} - {{areaIdx}} - {{zip}}</h2>
      <br>
      <script>
        import cities from "@/api/cityData.json";
        export default {
          name: "App",
          data() {
            return {
              cityIdx: 1,
              areaIdx: 1
            };
          },
          computed: {
            cities() {
              return cities;
            },
            areas() {
              return cities[this.cityIdx].areas;
            },
            zip() {
              return this.areas[this.areaIdx].zip;
            }
          },
          watch: {
            cityIdx() {
              this.areaIdx = 0;
            }
          }
        }
      </script>
    </xmp>
  </pre>
  <pre class="prettyprint">
    <xmp>
      <Select v-model:value="cityIdx" :options="cities"></Select>
      <Select v-model:value="areaIdx" :options="areas"></Select>
      <br>
      <h2>選到第 {{cityIdx}} 個城市</h2>
      <h2>{{cityIdx}} - {{areaIdx}} - {{zip}}</h2>
      <br>
      <script>
        import Select from "@/components/Select";
        import cities from "@/api/cityData.json";
        export default {
          name: "App",
          components: {
            Select
          },
          data() {
            return {
              cityIdx: 1,
              areaIdx: 1
            };
          },
          computed: {
            cities() {
              return cities;
            },
            areas() {
              return cities[this.cityIdx].areas;
            },
            zip() {
              return this.areas[this.areaIdx].zip;
            }
          },
          watch: {
            cityIdx() {
              this.areaIdx = 0;
            }
          }
        }
      </script>
    </xmp>
  </pre>
  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://codesandbox.io/s/vue-shizuo-xiangzhenshiquxialaxuandan-cgxhn?file=/src/App.vue:646-649"
        target="_blank">Vue 實作 鄉鎮市區下拉選單</a>
    </li>
  </ul>
</body>
</html>