<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/prism.css">
  <script src="../js/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body id="program">

  <!-- <h3>拋給父元件處理</h3>
  <pre class="prettyprint">
    <xmp>
     子元件
      <label>搜尋書本：
        <input type="text" :value="inputText" @input="$emit('searchBook', $event)" />
      </label>

     父元件
      <BookList :inputText="searchText" @searchBook="searchText = $event.target.value" />
    </xmp>
  </pre> -->


  <!-- <h2>資料傳遞</h2>
  <p>將內層資料傳遞到外層元件上使用</p>
  <img src="https://i.imgur.com/BVjQ2Ok.png" alt="">
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h3> {{ title }} </h3>
        {{ text }}：
        <button type="button" @click="add">add</button>
        {{ num }}
        <br>
        <br>
        <out-text @button-click="add"></out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              title: "",
              text: "外部元件",
              num: 0,
            }
          },
          methods: {
            add(addtext) {
              this.num++;
              this.title = addtext;
              //addtext 沒有值傳起來就會變成 事件物件 [object PointerEvent]
            }
          }
        });
        app.component("outText", {
          template: `<button @click="click">emit add</button>`,
          data() {
            return {
              text: "內部元件",
              insideText: "內部元件傳遞文字"
            };
          },
          methods: {
            click() {
              this.$emit('buttonClick', this.insideText);
            }
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre> -->

  

  <h2>父傳孫(provide/nject)</h2>
  <pre class="prettyprint">
    <xmp>
      //父 script
      //傳遞出去的資料定義在 provide
      import { inject, reactive, computed } from "vue";
      provide(){
      return {
      //輸出的資料並不會與上層資料連動
      provideMsg: this.parentName8,
      //與上層資料連動，則需要透過 Vue.computed() 進行包裝
      provideMsg2: computed(() => this.parentName8)
      }
      }

      //子 script
      export default {
      inject: ['provideMsg','provideMsg2'],
      }
    </xmp>
  </pre>
  <h2>provide/inject 傳值(隔山打牛)</h2>
  <ol>
    <li>provide傳遞的資料</li>
    <li>inject接收的子元件</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h2>app</h2>
        <input type="text" v-model="text">
        <list-header></list-header>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "隔山打牛"
            };
          },
          provide() {
            return {
              provideText: this.text,
              //provide輸出的資料並不會隨著父層資料更新而改變，要透過Vue.computed()
              provideText2: Vue.computed(() => this.text)
            };
          }
        });
        app.component("list-header", {
          template: `
            <div v-for="i in 3">
              list-header:
              <list-main></list-main>
            </div>`,
          components: {
            "list-main": {
              template: `
              <div>
                list-main:
                <list-footer></list-footer>
              </div>`,
              components: {
                "list-footer": {
                  inject: ["provideText", "provideText2"],
                  template: `
                  <div>list-footer: {{ provideText }} </div>
                  <div>list-footer-computed: {{ provideText2.value }}</div>`
                }
              }
            }
          }
        });

        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>孫傳爺（emit / listeners）</h2>

  <h2>全域(vuex)</h2>

  <h2>全域(eventBus)</h2>
  <pre class="prettyprint">
    <xmp>
      //main.js
      import mitt from "mitt"; //引入全局跨元件通訊
      var app = createApp(App);
      app.config.globalProperties.eventBus = mitt();//註冊

      //傳script
      this.eventBus.emit('customName', index);

      //接script
      beforeUnmount() {
      // 銷毁監聽
      this.eventBus.off("customName");
      },
      mounted() {
      this.eventBus.on('customName', (msg) => {
      console.log(msg)
      });
      },
    </xmp>
  </pre>

  <h2>mitt兩個子元件，彼此需要傳遞</h2>
  <ol>
    <li>npm安裝：npm install --save mitt</li>
    <li>cdn引入 src="https://unpkg.com/mitt/dist/mitt.umd.js"</li>
    <li>定義要傳出去的資料，emitter.emit('componentText', this.componentText);，傳遞component1裡data的componentText的值。</li>
    <li>定義接收emitter.on，(data)裡就是emitter.emit傳出來的值。</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h4>{{ text }}</h4>
        <con-tainer></con-tainer>
        <con-tainer2></con-tainer2>
      </div>
      <script>
        const emitter = mitt();
        var app = Vue.createApp({
          data() {
            return {
              text: "外部元件"
            };
          }
        });
        app.component("ConTainer", {
          data() {
            return {
              text: "component1",
              componentText: "由元件1傳入的文字",
            };
          },
          methods: {
            click() {
              emitter.emit('componentText', this.componentText);
            }
          },
          template: `<div>
              <h4>{{ text }}</h4>
              <button @click="click">Click me!</button>
            </div>`
        });
        app.component("ConTainer2", {
          data() {
            return {
              text: "component2",
              componentText: ""
            };
          },
          created() {
            emitter.on('componentText', (data) => {
              this.componentText = data;
            })
          },
          template: `<div>
              <h4>{{ text }}</h4>
              <h4>{{ componentText }}</h4>
            </div>`
        });
        app.mount('#app');
      </script>
    </xmp>
  </pre>

  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://book.vue.tw/CH2/2-2-communications.html">元件之間的溝通傳遞</a>
    </li>
    <li>
      <a href="https://eudora.cc/posts/210303/">Components 間的資料傳遞</a>
    </li>
    <li>
      <a
        href="https://penueling.com/%E6%8A%80%E8%A1%93%E7%AD%86%E8%A8%98/vue3-%E7%9A%84%E8%B3%87%E6%96%99%E7%8B%80%E6%85%8B%E7%AE%A1%E7%90%86%EF%BC%8Cprovide-inject%E3%80%81vuex/">Vue3的資料狀態管理，provide
        / inject、vuex、props</a>
    </li>
    <li>
      <a
        href="https://linxinemily.github.io/2019/06/23/Vue%E7%88%BA%E5%AD%AB%E7%B5%84%E4%BB%B6%E8%B3%87%E6%96%99%E5%82%B3%E9%81%9E/">Vue
        $attrs/$listeners 爺孫組件資料傳遞</a>
    </li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10280361" target="_blank">Vue.js 從零開始</a>
    </li>
  </ul>
</body>

</html>


<!-- <script>
    import {
        provide,
        inject,
        reactive,
        computed
    } from "vue";
    import emitHtml from '@/components/emitHtml'
    import propHtml from '@/components/propHtml'
    import emitHtml2 from '@/components/emitHtml2'
    import emitHtml3 from '@/components/emitHtml3'
    import emitHtml4 from '@/components/emitHtml4'

    export default {
        data() {
            return {
                parentName1: 'parent1',
                parentName5: 'parentValue',
                parentName7: 'Hello Vue!',
                parentName8: 'Hello Vue!'
            }
        },
        components: {
            propHtml,
            emitHtml,
            emitHtml2,
            emitHtml3,
            emitHtml4,
        },
        methods: {
            // 父元件監聽該事件名稱 searchText，獲得即時輸入的結果為 $event.target.value
            parentName2(date) {
                console.log('$emit', date)
            },
            parentName3(date) {
                console.log('setup', date)
            },
            parentName4(date) {
                console.log('methods', date)
            },
            parentName6(date) {
                this.parentName5 = date
            },
            handler2(params) {
                console.log('父函數觸發', params)
                    // console.log('父函數觸發')
            },
            handler3(params) {
                if (typeof(params) == 'string') {
                    this.parentName8 = params
                }
                console.log('父函數觸發', params)
            }
        },
        // setup(){
        //     //setup只能访问以下 property：
        //     //props,attrs,slots,emit
        //     provide("provideMsg", "James");
        // },
        provide() {
            return {
                //輸出的資料並不會與上層資料連動
                provideMsg: this.parentName8,
                //與上層資料連動，則需要透過 Vue.computed() 進行包裝
                provideMsg2: computed(() => this.parentName8)
            }
        }
    }
</script> -->