<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/prism.css">
  <script src="../js/prism.js"></script>
</head>

<body id="program">
  <h2>父傳子 props</h2>
  <p>接收方式可使用以下型別String,Number,Boolean,Array,Object,Date,Function,Symbol</p>
  <pre class="prettyprint">
    <xmp>
      //父 template
      //enterName1內層引用名子="外層的值"
      //: v-bind 綁定變數
      //childName1內層引用名子,parentName1外層引用的名子
      propHtml enterName1 = "All" : childName1 = "parentName1"
      //子 script
      export default {
        //接收父的值方法[]
        props: [
          'childName1',
          'enterName1'
        ],

        //接收父的值方法{type}
        props: {
          childName1: String,
          enterName1: String
        },

        //接收父的值方法{type,required,default}
        props: {
          childName1: {
            type: String,
              required: true //為必要屬性
          },
            enterName1: {
            type: String,
          },
        }
      }
    </xmp>
  </pre>

  <h2>props值傳入元件</h2>
  <p>props單向數據流</p>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h4>{{ text }}</h4>
        <con-tainer :test-props="demo"></con-tainer>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外部元件",
              demo: "外部元件傳遞的文字"
            };
          }
        });
        app.component("ConTainer", {
          props: ["testProps"],
          template: `<div>
            <h4>{{ text }}</h4><h3>{{ testProps }}<h3>
            <h3>value: {{ typeof testProps }} </h3>
            <input type="text" v-model="testProps">
          </div>`
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>props型別驗證</h2>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <area-component :pro-a="fun" :pro-b="text" pro-c="num" :pro-d="num">
        </area-component>
      </div>
      <script>
        const areaComponent = {
          props: {
            proA: Function,
            proB: [String, Number],   //多個型別檢查
            proC: {
              type: String,
              required: true //必要值 物件形式可以設立多個條件
            },
            proD: {
              type: Number,
              default: "hello"  //預設值
            }
          },
          template: `{{ proA }} <br> {{ proB }} <br> {{ proC }} <br> {{ proD }}`
        };
        var app = Vue.createApp({
          data() {
            return {
              num: 500,
              text: "小明",
              boo: true,
              fun: () => {
                return "a";
              },
              test: 100
            };
          },
          components: {
            areaComponent
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>子傳父 $emit</h2>
  <pre class="prettyprint">
    <xmp>
      //父 template
      //@ v-on 監聽事件
      emitHtml @childName2="parentName2"

      //子 template
      //1.使用$emit 傳給父元件
      @input="$emit('childName2', $event.target.value)"

      //2.使用 setup
      @change='customChange'

      //3.使用methods
      @change='searchBook'

      //子 script
      //2.使用 setup ,元件建立前就執行 setup
      export default {
        setup(props, context) {
          const customChange = (event) => {
            context.emit("childName3", event.target.value)
          }
          return {
            customChange
          }
        }

        //3.使用methods
        methods: {
          searchBook(event) {
            this.$emit("childName4", event.target.value)
          }
        }
      }
    </xmp>
  </pre>

  <h2>emit傳遞事件</h2>
  <ol>
    <li>定義外層接收的函式 add()</li>
    <li>定義內層 $emit 觸發的函式</li>
    <li>透過外層模板 @button-click="add" 來觸發外層函式</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      {{ text }}：
      <button type="button" @click="add()">add</button>
      <button type="button" @click="dec()">dec</button>
      {{ num }}
      <out-text @button-click="add"></out-text>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外部元件",
              num: 0,
            }
          },
          methods: {
            add() {
              this.num++;
            },
            dec() {
              this.num--;
            }
          }
        });
        app.component("outText", {
          template: `<button @click="click">emit add</button>`,
          data() {
            return {
              text: "內部元件"
            };
          },
          methods: {
            click() {
              this.$emit('buttonClick');
            }
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>emit傳遞參數</h2>
  <p>將內層資料傳遞到外層元件上使用</p>
  <img src="https://i.imgur.com/BVjQ2Ok.png" alt="">
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h3> {{ title }} </h3>
        {{ text }}：
        <button type="button" @click="add">add</button>
        {{ num }}
        <br>
        <br>
        <out-text @button-click="add"></out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              title: "",
              text: "外部元件",
              num: 0,
            }
          },
          methods: {
            add(addtext) {
              this.num++;
              this.title = addtext;
              //addtext 沒有值傳起來就會變成 事件物件 [object PointerEvent]
            }
          }
        });
        app.component("outText", {
          template: `<button @click="click">emit add</button>`,
          data() {
            return {
              text: "內部元件",
              insideText: "內部元件傳遞文字"
            };
          },
          methods: {
            click() {
              this.$emit('buttonClick', this.insideText);
            }
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>emit驗證</h2>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        {{ text }}：{{ num }}
        <br>
        <br>
        <out-text @button-click="add"></out-text>
        <br>
        <out-text2 @button-click="add"></out-text2>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外部 num",
              num: 0,
            }
          },
          methods: {
            add(num) {
              this.num = this.num + num;
            }
          }
        });
        app.component("outText", {
          template: `{{ text }}：<button @click="$emit('buttonClick', num)">emit add</button>`,
          data() {
            return {
              text: "內部元件",
              num: 3,
            };
          },
          //因為無法正確追蹤你帶入的變數內層的num，
          //就會跳出這個警告提示，
          //這時只要加上emits:['buttonClick']就能消除警告。
          emits: ['buttonClick']
        });
        app.component("outText2", {
          template: `{{ text }}：<button @click="$emit('buttonClick', '1')">test</button>`,
          data() {
            return {
              text: "emits",
              num: 3,
            };
          },
          //驗證事件參數傳出去的值，是否符合預期的型別
          emits: {
            buttonClick: (num) => {
              if (typeof num !== 'string') {
                console.warn('buttonClick 事件參數型別須為 String')
              }
              return typeof num === 'string'
            }
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>v-model 與元件的雙向綁定 (Vue 3.x 新增)</h2>
  <pre class="prettyprint">
    <xmp>
      //父 template
      //message 內層引用名子 parentName7外層引用的名子
      emitHtml3 v-model:message="parentName7"

      //子 template
      button @click="clickFn"

      //子 script
      export default {
        props: ['message'],
        methods: {
          clickFn(){
            this.$emit("update:message",'childValue')
          }
        },
      }
    </xmp>
  </pre>

  <h2>在元件上使用 v-model</h2>
  <h3>$emit 拋給父元件處理</h3>
  <pre class="prettyprint">
    <xmp>
      <!-- 子元件 -->
      <label>搜尋書本：
        <input type="text" :value="inputText" @input="$emit('searchBook', $event)" />
      </label>

      <!-- 父元件 -->
      <BookList navTitle="All" :bookList="books" :inputText="searchText"
        @searchBook="searchText = $event.target.value" />
    </xmp>
  </pre>

  <h3>v-model 監聽 input 事件</h3>
  <pre class="prettyprint">
    <xmp>
      <!-- 子元件 -->
      <label>搜尋書本：
        <input type="text" :value="value" @input="$emit('input', $event.target.value)" />
      </label>

      <!-- 父元件 -->
      <BookList navTitle="All" :bookList="books" v-model="searchText" />
    </xmp>
  </pre>

  <h3>補充：update:myPropName</h3>
  <pre class="prettyprint">
    <xmp>
      <!-- 子元件 -->
      <label>搜尋書本：
        <input type="text" :value="keyword" @input="$emit('update:keyword', $event)" />
      </label>

      <!-- 父元件 -->
      <BookList navTitle="All" :bookList="books" :keyword="searchText"
        @update:keyword="searchText = $event.target.value" />
    </xmp>
  </pre>

  <h2>父傳孫(provide/nject)</h2>
  <pre class="prettyprint">
    <xmp>
      //父 script
      //傳遞出去的資料定義在 provide
      import { inject, reactive, computed } from "vue";
      provide(){
      return {
      //輸出的資料並不會與上層資料連動
      provideMsg: this.parentName8,
      //與上層資料連動，則需要透過 Vue.computed() 進行包裝
      provideMsg2: computed(() => this.parentName8)
      }
      }

      //子 script
      export default {
      inject: ['provideMsg','provideMsg2'],
      }
    </xmp>
  </pre>

  <h2>孫傳爺（emit / listeners）</h2>

  <h2>全域(vuex)</h2>

  <h2>全域(eventBus)</h2>
  <pre class="prettyprint">
    <xmp>
      //main.js
      import mitt from "mitt"; //引入全局跨元件通訊
      var app = createApp(App);
      app.config.globalProperties.eventBus = mitt();//註冊

      //傳script
      this.eventBus.emit('customName', index);

      //接script
      beforeUnmount() {
      // 銷毁監聽
      this.eventBus.off("customName");
      },
      mounted() {
      this.eventBus.on('customName', (msg) => {
      console.log(msg)
      });
      },
    </xmp>
  </pre>

  <h2>Slot</h2>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h3> {{ text }} </h3>
        <out-text>
          <p>打洞成功</p>
        </out-text>
        <out-text>
        </out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外層元件",
              product: {
                name: "名刀不知火",
                price: 200000,
              }
            }
          }
        });
        app.component("outText", {
          template: `
            <div class="box">
              <h3> {{ text }} </h3>
              <div class="header">header</div>
              <div class="main">
                <slot> 預設值！</slot>
              </div>
              <div class="footer">footer</div>
            </div>
            `,
          data() {
            return {
              text: "內部元件",
              num: 3,
            };
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>v-slot</h2>
  <p>v-slot:header 同 #header</p>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h3> {{ product.name }} </h3>
        <out-text>
          <template #header>波利卡片</template>
          <template v-slot:main>瘋兔卡片</template>
          <template v-slot:default></template>
          <template v-slot:footer>禿鷹卡片</template>
        </out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外層元件",
              product: {
                name: "名刀不知火",
                price: 200000,
              }
            }
          }
        });
        app.component("outText", {
          template: `
          <div class="box">
              <div class="header">
                <slot name="header"></slot>
              </div>
              <div class="main">
                <slot name="main"></slot>
                <div>
                  <slot>未插卡！</slot>
                </div>
              </div>
              <div class="footer">
                <slot name="footer"></slot>
              </div>
          </div>
          `,
          data() {
            return {
              text: "內部元件",
              num: 3,
            };
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>slot作用域</h2>
  <p>slot 的內容都是由外層元件提供</p>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h3> {{ product.name }} </h3>
        <out-text>
          <!-- 會無法顯示 -->
          <p> {{ product.name }} </p>
        </out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外層元件",
              product: {
                name: "名刀不知火",
                price: 200000,
              }
            }
          }
        });
        app.component("outText", {
          template: `<div class="box"></div>`,
          data() {
            return {
              text: "內部元件",
              product: {
                name: "+9 獵人之弓",
                price: 100000,
              }
            };
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>Slot(Props)內層傳遞給外層元件</h2>
  <ol>
    <li>內層元件定義好要傳出去的資料slot:ro="product"，:ro為自定義名稱，product為內層元件的data。</li>
    <li>外層元件模板v-slot:default="roprops"接收資料，v-slot:default固定寫法，roprops為自定義名稱。</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <out-text>
          <template v-slot:default="roprops">
            內層元件插槽：
            {{ roprops.ro.name }}
          </template>
        </out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外層元件",
            }
          }
        });
        app.component("outText", {
          template: `
            <div class="header">
              <slot :ro="product"></slot>
            </div>
          `,
          data() {
            return {
              text: "內部元件",
              product: {
                name: "名刀不知火",
                price: 200000,
                city: "普隆德拉"
              }
            };
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>Slot(Props)內層傳遞給外層元件</h2>
  <ol>
    <li>先把外層元件props到子元件使用，out-text :product="product"，props: ['product']。</li>
    <li>執行mounted()。</li>
    <li>內層定義傳出去的資料slot :ro="product" :buy="buy"(資料是外部元件data，經由內部元件props提供)。</li>
    <li>外層模板改為物件方式接收v-slot:default="{ ro, buy }"。</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <out-text :product="product">
          <template v-slot:default="{ ro, buy }">
            component props：{{ ro.name }} <br>
            slot props：{{ buy }}
          </template>
        </out-text>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "外層元件",
              product: {
                name: "名刀不知火",
                price: 200000,
                city: "普隆德拉",
                amount: 5,
              }
            }
          }
        });
        app.component("outText", {
          props: ['product'],
          template: `
              <div class="header">
                <slot :ro="product" :buy="buy"></slot>
              </div>
            `,
          data() {
            return {
              text: "內部元件",
              buy: ""
            };
          },
          created() {
            if (this.product.amount > 1) {
              this.buy = "可購買";
            } else {
              this.buy = "無法購買";
            };
          }
        });
        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h2>mitt兩個子元件，彼此需要傳遞</h2>
  <ol>
    <li>npm安裝：npm install --save mitt</li>
    <li>cdn引入 src="https://unpkg.com/mitt/dist/mitt.umd.js"</li>
    <li>定義要傳出去的資料，emitter.emit('componentText', this.componentText);，傳遞component1裡data的componentText的值。</li>
    <li>定義接收emitter.on，(data)裡就是emitter.emit傳出來的值。</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h4>{{ text }}</h4>
        <con-tainer></con-tainer>
        <con-tainer2></con-tainer2>
      </div>
      <script>
        const emitter = mitt();
        var app = Vue.createApp({
          data() {
            return {
              text: "外部元件"
            };
          }
        });
        app.component("ConTainer", {
          data() {
            return {
              text: "component1",
              componentText: "由元件1傳入的文字",
            };
          },
          methods: {
            click() {
              emitter.emit('componentText', this.componentText);
            }
          },
          template: `<div>
              <h4>{{ text }}</h4>
              <button @click="click">Click me!</button>
            </div>`
        });
        app.component("ConTainer2", {
          data() {
            return {
              text: "component2",
              componentText: ""
            };
          },
          created() {
            emitter.on('componentText', (data) => {
              this.componentText = data;
            })
          },
          template: `<div>
              <h4>{{ text }}</h4>
              <h4>{{ componentText }}</h4>
            </div>`
        });
        app.mount('#app');
      </script>
    </xmp>
  </pre>

  <h2>provide/inject 傳值(隔山打牛)</h2>
  <ol>
    <li>provide傳遞的資料</li>
    <li>inject接收的子元件</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h2>app</h2>
        <input type="text" v-model="text">
        <list-header></list-header>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              text: "隔山打牛"
            };
          },
          provide() {
            return {
              provideText: this.text,
              //provide輸出的資料並不會隨著父層資料更新而改變，要透過Vue.computed()
              provideText2: Vue.computed(() => this.text)
            };
          }
        });
        app.component("list-header", {
          template: `
            <div v-for="i in 3">
              list-header:
              <list-main></list-main>
            </div>`,
          components: {
            "list-main": {
              template: `
              <div>
                list-main:
                <list-footer></list-footer>
              </div>`,
              components: {
                "list-footer": {
                  inject: ["provideText", "provideText2"],
                  template: `
                  <div>list-footer: {{ provideText }} </div>
                  <div>list-footer-computed: {{ provideText2.value }}</div>`
                }
              }
            }
          }
        });

        app.mount("#app");
      </script>
    </xmp>
  </pre>

  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://book.vue.tw/CH2/2-2-communications.html">元件之間的溝通傳遞</a>
    </li>
    <li>
      <a
        href="https://penueling.com/%E6%8A%80%E8%A1%93%E7%AD%86%E8%A8%98/vue3-%E7%9A%84%E8%B3%87%E6%96%99%E7%8B%80%E6%85%8B%E7%AE%A1%E7%90%86%EF%BC%8Cprovide-inject%E3%80%81vuex/">Vue3的資料狀態管理，provide
        / inject、vuex、props</a>
    </li>
    <li>
      <a href="https://eudora.cc/posts/210303/">Components 間的資料傳遞</a>
    </li>
    <li>
      <a
        href="https://linxinemily.github.io/2019/06/23/Vue%E7%88%BA%E5%AD%AB%E7%B5%84%E4%BB%B6%E8%B3%87%E6%96%99%E5%82%B3%E9%81%9E/">Vue
        $attrs/$listeners 爺孫組件資料傳遞</a>
    </li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10280361" target="_blank">Vue.js 從零開始</a>
    </li>
  </ul>
</body>

</html>


<!-- <script>
    import {
        provide,
        inject,
        reactive,
        computed
    } from "vue";
    import emitHtml from '@/components/emitHtml'
    import propHtml from '@/components/propHtml'
    import emitHtml2 from '@/components/emitHtml2'
    import emitHtml3 from '@/components/emitHtml3'
    import emitHtml4 from '@/components/emitHtml4'

    export default {
        data() {
            return {
                parentName1: 'parent1',
                parentName5: 'parentValue',
                parentName7: 'Hello Vue!',
                parentName8: 'Hello Vue!'
            }
        },
        components: {
            propHtml,
            emitHtml,
            emitHtml2,
            emitHtml3,
            emitHtml4,
        },
        methods: {
            // 父元件監聽該事件名稱 searchText，獲得即時輸入的結果為 $event.target.value
            parentName2(date) {
                console.log('$emit', date)
            },
            parentName3(date) {
                console.log('setup', date)
            },
            parentName4(date) {
                console.log('methods', date)
            },
            parentName6(date) {
                this.parentName5 = date
            },
            handler2(params) {
                console.log('父函數觸發', params)
                    // console.log('父函數觸發')
            },
            handler3(params) {
                if (typeof(params) == 'string') {
                    this.parentName8 = params
                }
                console.log('父函數觸發', params)
            }
        },
        // setup(){
        //     //setup只能访问以下 property：
        //     //props,attrs,slots,emit
        //     provide("provideMsg", "James");
        // },
        provide() {
            return {
                //輸出的資料並不會與上層資料連動
                provideMsg: this.parentName8,
                //與上層資料連動，則需要透過 Vue.computed() 進行包裝
                provideMsg2: computed(() => this.parentName8)
            }
        }
    }
</script> -->