<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/prism.css">
  <script src="../js/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body id="program">
  <h2>computed</h2>
  <p>computed的更新條件是原始資料有變更才會更新</p>
  <pre class="prettyprint">
    <xmp>
      <div id='app'>
        <p>methods: {{ num() }}</p>
        <p>computes: {{ run }}</p>
      </div>
      <script>
        var App = {
          data() {
            return {
              count: 0,
              four: 4,
            }
          },
          methods: {
            num() {
              console.log('isMethods');
              return this.four + this.count;
            }
          },
          computed: {
            run() {
              console.log('isComputed');
              return this.four + this.count;
            }
          }
        };
        Vue.createApp(App).mount('#app')
      </script>
    </xmp>
  </pre>
  <h3>搜尋</h3>
  <pre class="prettyprint">
    <xmp>
      <div id='app'>
        <input type="search" v-model="search">
        <ul>
          <li v-for="item in filter">
            {{ item.name }}-{{ item.price }}
          </li>
        </ul>
      </div>
      <script>
        var App = {
          data() {
            return {
              search: '',
              products: [
                {
                  name: '上衣',
                  price: 500,
                },
                {
                  name: '褲子',
                  price: 700,
                },
                {
                  name: '鞋子',
                  price: 2000,
                },
                {
                  name: '襪子',
                  price: 450,
                },
              ],
            }
          },
          computed: {
            filter() {
              console.log('isComputed');
              return this.products.filter(item =>
                item.name.match(this.search)
              )
            }
          }
        };
        Vue.createApp(App).mount('#app')
      </script>
    </xmp>
  </pre>
  <h3>getter與setter</h3>
  <ol>
    <li>getter：將data資料取出到comliuted運算完之後渲染到畫面</li>
    <li>setter：把資料(以下範例使用methods)運算完，傳回data</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <ul>
          <li v-for="product in products">
            {{ product.name }} / {{ product.price }}
            <button type="button" @click="addToCart(product)">+</button>
          </li>
        </ul>
        <h3>total 的值：{{ total }}</h3>
        <h3>Computed Getter, Setter</h3>
        computed sum 的值:
        <input type="number" v-model.number="num">
        <button type="button" @click="total = num">更新</button><br>
        total 的值：{{ total }}<br>
        computed sum 的值:：{{ sum }}
      </div>
      <script>
        var App = {
          data() {
            return {
              products: [{
                name: '上衣',
                price: 500,
              }, {
                name: '褲子',
                price: 700,
              }, {
                name: '鞋子',
                price: 2000,
              }, {
                name: '襪子',
                price: 450,
              },],
              carts: [],
              sum: 0,
              num: 20,
            }
          },
          computed: {
            total: {
              get() {
                let total = 0;
                this.carts.forEach(item => {
                  total += item.price;
                });
                return this.sum || total;
              },
              set(val) {
                console.log('val') // num 的20
                this.sum = val; // num 的20,傳回 data 的 sum
              }
            },
          },
          methods: {
            addToCart(product) {
              this.carts.push(product);
            },
          }
        };
        Vue.createApp(App).mount('#app')
      </script>
    </xmp>
  </pre>
  <h2>watch監聽器</h2>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h3>watch 監聽單一變數</h3>
        <label for="name">監聽變數：</label>
        <input type="text" id="name" v-model="tempName">
        <P>大於五個字: {{ big }}</P>
        <p>小於五個字: {{ small }}</p>
      </div>
      <script>
        var App = {
          data() {
            return {
              small: "",
              tempName: "",
            };
          },
          watch: {
            tempName(a, b) {
              console.log(a, b);
              if (a.length > 5) {
                this.big = `文字超過${b.length}個字`;
              } else {
                this.small = `文字未超過${a.length}個字`;
              }
            },
          }
        };
        Vue.createApp(App).mount("#app");
      </script>
    </xmp>
  </pre>
  <h2>watch與computed不同的地方</h2>
  <ol>
    <li>watch監聽單一變數</li>
    <li>computed監聽多個變數事件,產生一個值</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <label for="store">店家名稱</label>
        <input type="text" v-model="store">
        <br>
        <label for="productName">商品名稱</label>
        <input type="text" v-model="productName">
        <br>
        <label for="productPrice">商品價格</label>
        <input type="number" v-model.number="productPrice">
        <p>computed: {{ comVale }}</p>
        <p>watch: {{ watchValue }}</p>
      </div>
      <script>
        var App = {
          data() {
            return {
              watchValue: "",
              // 單一產品
              store: "高雄",
              productName: "褲子",
              productPrice: 500,
            };
          },
          computed: {
            comVale() {
              return `${this.store},${this.productName},${this.productPrice}`
            }
          },
          watch: {
            store() {
              this.watchValue = `${this.store},${this.productName},${this.productPrice}`
            },
            productName() {
              this.watchValue = `${this.store},${this.productName},${this.productPrice}`
            },
            productPrice() {
              this.watchValue = `${this.store},${this.productName},${this.productPrice}`
            },
          }
        };
        Vue.createApp(App).mount("#app");
      </script>
    </xmp>
  </pre>
  <h2>使用watch監聽多個變數</h2>
  <ol>
    <li>data就要改為物件</li>
    <li>watch裡面改為handler</li>
    <li>deep也要改為true</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <label for="store">店家名稱：</label>
        <input type="text" v-model="product.store"><br>
        <label for="productName">商品名稱：</label>
        <input type="text" v-model="product.name"><br>
        <label for="productPrice">商品價格：</label>
        <input type="number" v-model.number="product.price">
        <p>value: {{ value }}</p>
      </div>
      <script>
        var App = {
          data() {
            return {
              product: {
                store: "高雄",
                name: "褲子",
                price: 500,
              },
            };
          },
          watch: {
            product: {
              handler(n, o) {
                console.log(n, o);
                this.value = `${this.product.store},${this.product.name},${this.product.price}`
              },
              deep: true,
            }
          }
        };
        Vue.createApp(App).mount("#app");
      </script>
    </xmp>
  </pre>
  <h2>component</h2>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <h4>{{ text }}</h4>
        <con-tainer></con-tainer>
        <area2></area2>
      </div>
      <script>
        const area2 = {
          data() {
            return {
              text: "根元件的子元件/區域註冊"
            };
          },
          template: `<div>
        <h4>{{ text }}</h4>
      </div>`
        }
        var app = Vue.createApp({
          data() {
            return {
              text: "外部元件"
            };
          },
          components: {
            area2
          }
        });
        app.component("ConTainer", {
          data() {
            return {
              text: "內部元件/全域註冊"
            };
          },
          template: `<div>
            <h4>{{ text }}</h4>
          </div>`
        });
        app.mount("#app");
      </script>
    </xmp >
  </pre>
  <h2>生命週期介紹</h2>
  <img src="https://i.imgur.com/hFcI2tF.png" alt="">
  <h3>實體建立階段</h3>
  <ol>
    <li>beforeCreate:Vue實體建立，狀態事件還沒初始化</li>
    <li>created:資料建立完成已配置選項 data 、computed、methods、watch,若直接操作 DOM 節點會找不到元素</li>
    <li>beforeMount:HTML結構準備與DOM節點綁定，尚未掛載</li>
    <li>mounted:實例已掛載，完成編譯 template 內容,已經將DOM元素掛載到畫面上</li>
  </ol>
  <h3>實體更新階段</h3>
  <ol>
    <li>beforeUpdate:當資料有更動，畫面更新前</li>
    <li>Update:當資料有更動，畫面更新完成</li>
  </ol>
  <h3>銷毀階段</h3>
  <ol>
    <li>beforeUnmount:Vue實體被銷毀前</li>
    <li>unmounted:Vue實體被銷毀完成</li>
  </ol>
  <pre class="prettyprint">
    <xmp>
      <div id="app">
        <button @click="isShowing = !isShowing">
          <span v-if="isShowing">隱藏元件</span>
          <span v-else>顯示元件</span>
        </button>
        <hr>
        <lifecycle v-if="isShowing"></lifecycle>
      </div>
      <script>
        var app = Vue.createApp({
          data() {
            return {
              isShowing: false
            }
          }
        });
        app.component('lifecycle', {
          template: `<div>
        <h4>{{ state }}</h4>
        <input type="text" class="form-control" v-model="state">
      </div>`,
          data() {
            return {
              state: 'Vue data 資料狀態'
            }
          },
          beforeCreate() {
            console.log(`beforeCreate! ${this.state}`);
          },
          created() {
            console.log(`created! ${this.state}`);
            alert(`created! ${this.state}`);
          },
          beforeMount() {
            alert(`beforeMount! ${this.state}`);
          },
          mounted() {
            alert(`mounted! ${this.state}`);
          },
          beforeUpdate() {
            console.log(`beforeUpdate! ${this.state}`);
          },
          updated() {
            console.log(`updated! ${this.state}`);
          },
          beforeUnmount() {
            console.log(`beforeUnmount! ${this.state}`);
          },
          unmounted() {
            console.log(`unmounted! ${this.state}`);
          }
        });
        app.mount('#app');
      </script>
    </xmp>
  </pre>
  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10280361" target="_blank">Vue.js 從零開始</a>
    </li>
  </ul>
</body>

</html>