<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/customPrism.css">
  <link rel="stylesheet" href="../css/prism.css">
  <script src="../js/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>
<body id="program">
  <h2>各板本components</h2>
  <pre class="prettyprint">
    <xmp>
      //Vue3 comonents
      //js
      import HelloWorld from "@/components/HelloWorld.vue"    
      export default{
        components:{
          HelloWorld,
        }
      }

      //vite comonents
      <script setup>
        import HelloWorld from "@/components/HelloWorld.vue"
      </script>
      <template>
        <!-- 使用comonents -->
        <HelloWorld/>
      </template>
    </xmp>
  </pre>

  <h2>各板本Props</h2>
  <pre class="prettyprint">
    <xmp>
      //Vue3 Props
      export default {
        props: ['title'],
        setup(props) {
        }
      }

      //vite Props
      <script setup>
        const props = defineProps({
          data:{
            type: object,
            default:()=>({})
          }
        })
      </script>
    </xmp>
  </pre>

  <h2>watch、watchEffect、stop</h2>
  <pre class="prettyprint">
    <xmp>
      <template>
        <div>
        <input type="text" v-model="search">
        <input type="text" v-model="search2">
        </div>
      </template>

      //js
      import { ref, watch, watchEffect } from 'vue'
      export default {
        name: 'HelloWorld',
        setup() {
          const search = ref('');
          watch(search, (newValue, oldValue) => {
            console.log('watch search', newValue, oldValue)
          })
          const search2 = ref('');
          watch(search2, () => {
            console.log('watch search2', search2.value)
          })
          watchEffect(() => {
            console.log('watchEffect', search.value, search2.value)
          })
          return {
            search, search2
          }
        }
      }
    </xmp>
  </pre>
  <h3>要停止 watch、watchEffect，如下：</h3>
  <pre class="prettyprint">
    <xmp>
      const search = ref('');
      const stopWatch = watch(search, (newValue, oldValue) => {
        console.log('watch search', newValue, oldValue)
      })
      const stopWatchEffect = watchEffect(() => {
        console.log('watchEffect', search.value)
      })
      setTimeout(() => {
        stopWatch();
        stopWatchEffect();
      }, 5000)
    </xmp>
  </pre>
  <h2>生命週期</h2>
  <pre class="prettyprint">
    <xmp>
      import { onMounted, onUpdated } from 'vue'
      export default {
        name: 'HelloWorld',
        setup() {
          onMounted(() => console.log('Mounted'));
          onUpdated(() => console.log('Updated'));
          // ...
        }
      }
    </xmp>
  </pre>
  <pre class="prettyprint">
    <xmp>
      <script>
        import {
          inject
        } from 'vue'
        export default {
          name: 'componentsView',
          computed: {

          },
          setup() {
            const $api = inject('$api');
            $api.reqCateBanner().then(function (response) {
              console.log(response)
            })
          },
          methods: {
            getData() {
              this.$api.reqCateBanner().then(function (response) {
                console.log(response)
              })
            },
          }
        }
      </script>
    </xmp>
  </pre>
  <h4>參考</h4>
  <ul>
    <li>
      <a href="https://www.letswrite.tw/vue3-composition-api/" target="_blank">Vue.js 3 Composition API</a>
    </li>
    <li>
      <a href="https://ithelp.ithome.com.tw/articles/10272253" target="_blank">Composition API</a>
    </li>
  </ul>
</body>

</html>