.list-inline { padding-left: 0; list-style: none; }
.list-inline > li { display: inline-block; }
a{text-decoration:none;}
.page{width:100%;height:600px;}
body{padding:0;margin:0}

.index.active .header .headerContent .navButton span { background-color: transparent; }
.index.active .header .headerContent .navButton span:before { -webkit-transform: translateY(0) rotate(45deg); transform: translateY(0) rotate(45deg); background: #fff; }
.index.active .header .headerContent .navButton span:after { -webkit-transform: translateY(0) rotate(-45deg); transform: translateY(0) rotate(-45deg); background: #fff; }
.index.active .header .headerContent .nav { left: 0; }
.index.active > div:not(.header), .index.active .header .logo a { filter: blur(3px); transition: filter 0.8s ease; }

.header { position: relative; height: 80px; }
.header .headerContent { position: fixed; height: 80px; top: 0; left: 0; padding: 0 20px; width: 100%; display: flex; align-items: center; background: #fff; z-index: 9; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);box-sizing: border-box; }
.header .headerContent .logo { width: 220px; }
.header .headerContent .logo a { color: #4a1430; text-align: center; }
.header .headerContent .logo h4 { font-size: 26px; margin-bottom: -2px; font-weight: bold; font-family: "MingLiU", "PMingLiU", "新細明體", serif; }
.header .headerContent .logo small { color: #4a1430; text-transform: uppercase; }
.header .headerContent .navButton { display: none; }
.header .headerContent .nav { flex: 1; display: flex; justify-content: space-between; }
.header .headerContent .navleft { padding-left: 4vw; }
.header .headerContent .navleft li { padding: 0 10px; }
.header .headerContent .navleft a { color: #999999; font-size: 18px; transition: 0.5s ease; padding-top: 2px; }
.header .headerContent .navleft a:hover { color: #220916; }
.header .headerContent .navleft a.active { color: #4a1430; font-weight: bold; }
.header .headerContent .navright a { background: #e6e6e6; border-radius: 30px; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; transition: 0.5s ease; margin: 0 3px; }
.header .headerContent .navright a:hover { background: #4a1430; }
.header .headerContent .navright i { font-size: 18px; color: #fff; }
@media (max-width: 768px) { .header .headerContent .navButton { display: block; position: absolute; top: 22px; right: 25px; z-index: 1; height: 30px; width: 28px; cursor: pointer; }
  .header .headerContent .navButton span { position: absolute; top: 50%; left: 0; display: block; width: 100%; height: 4px; background-color: #4a1430; font-size: 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  .header .headerContent .navButton span:before, .header .headerContent .navButton span:after { position: absolute; left: 0; width: 100%; height: 100%; background: #4a1430; content: ""; -webkit-transition: -webkit-all 0.3s; transition: all 0.3s; -webkit-transform: translateY(-240%); transform: translateY(-240%); }
  .header .headerContent .navButton span:after { -webkit-transform: translateY(240%); transform: translateY(240%); }
  .header .headerContent .nav { position: fixed; width: 100%; height: 100vh; top: 0; left: 100%; background: rgba(0, 0, 0, 0.85); text-align: center; align-items: center; flex-direction: column; justify-content: center; transition: left 0.5s ease; }
  .header .headerContent .navleft { padding-left: 0; }
  .header .headerContent .navleft li { display: block; padding: 0; }
  .header .headerContent .navleft a { font-size: 32px; padding: 20px 0; padding-left: 15px; color: #b3b3b3; letter-spacing: 15px; }
  .header .headerContent .navleft a.active, .header .headerContent .navleft a:hover { color: #fff; }
  .header .headerContent .navright { margin-top: 30px; border-top: 2px solid gray; width: 200px; padding-top: 40px; display: flex; justify-content: space-around; }
  .header .headerContent .navright a { padding: 0; width: auto; height: auto; background: none; }
  .header .headerContent .navright a:hover { background: none; }
  .header .headerContent .navright a:hover i { color: #fff; }
  .header .headerContent .navright i { font-size: 28px; color: #b3b3b3; } }