.newcontent
  .header
      .banner
          img(src='https://unsplash.it/1920/400')
  .container
      .content
          .shadow-bothSildes
          .left
              a(href='#')
                  i.fa.fa-long-arrow-left
              .share
                  a(href='#')
                      i.fa.fa-facebook
                  a(href='#')
                      i.fa.fa-facebook
          .right
              .righttop
                  h3 Formula Guide
                  ul.li-inline
                      li
                          p.month Mar
                      li          
                          p.day 31  
                      li
                          p.year ,2017
              .rightbottom
                  p 4The best-selling guide in the world for design inspiration, color specification, and printing accuracy, Formula Guide illustrates 1,867 Pantone spot colors with their corresponding ink formulations. Use this guide for logos and branding, marketing materials, packaging, and when spot color printing is required.
                  p The best-selling guide in the world for design inspiration, color specification, and printing accuracy, Formula Guide illustrates 1,867 Pantone spot colors with their corresponding ink formulations. Use this guide for logos and branding, marketing materials, packaging, and when spot color printing is required.
                  img(src='https://unsplash.it/400/200')
                  a.btn.no-bg(href='#') Go black